.section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 20px;
    padding: 0 40px;
}

/* Section Header
----------------------------------------------------------------------------- */
.header {
    position: fixed;
    width: 100%;
}

.header .logo .text{
    font-family: Sai Sans;
    font-size: 40px;
    line-height: 100%;
    padding: 32px 0;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}



/* Section intro
----------------------------------------------------------------------------- */
.section.intro{
    height: 100vh;
    width: 100%;
}

.intro .content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0 20px;
    grid-column: 3 / -1;
    align-content: start;
    padding-top: 200px;
}

.intro .options {
    display: flex;
    justify-content: flex-start;
    grid-column: 3 / -1;
    overflow: scroll;
    scrollbar-width: none;
}

.intro .options .option {
    display: flex;
    white-space: nowrap;
    padding: 12px 10px;
    font-weight: 600;
    opacity: 0.3;
    cursor: pointer;
    user-select: none;
}

.intro .options .is--active{
    opacity: 1;
}

.intro .options .option:first-child {
    padding-left: 0;
}

.intro .texts {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
    grid-column: 1 / -1;
}

.intro .texts .text {
    display: none;
    grid-column: 1/-2;
    font-size: clamp(36px, 5.14vw, 5.14vw);
    font-weight: 600;
    line-height: 110%;
    text-indent: calc(((100% - (8 * 20px)) / 9 * 2 + 40px) - 0.02em);
    /* calc(((100% - (no of gap * gap wigth)) / no of column * starting column + required gap) - 0.02em) */
    margin: 0 0 0 -0.07em;
}

.intro .text.is--visible{
    display: block;
}


/* Section intro
----------------------------------------------------------------------------- */
.work .content {
    grid: inherit;
}

.work .content .image {
    user-select: none;
    width: 100%;
}

.work .content {
    display: inherit;
    gap: 20px;
    grid-column: 1 / -1;
    user-select: none;
    width: 100%;
}

.work .content .image:first-child {
    grid-column: 5 / -1;
}
.work .content .image:nth-child(2) {
    grid-column: 2 / -9;
}
.work .content .image:nth-child(3) {
    grid-column: 5 / -6;
}
.work .content .image:nth-child(4) {
    grid-column: 8 / -3;
}
.work .content .image:nth-child(5) {
    grid-column: 8 / -1;
}


